trunk/src/*.o
trunk/src/Makefile
trunk/src/fitter
trunk/src/.deps
trunk/src/alg_lib/.deps
trunk/Makefile
trunk/obs/Makefile
trunk/filters/Makefile
trunk/idl/Makefile
trunk/templates/Makefile
trunk/lib_aux/Makefile
trunk/src/SurveySim

trunk/config.log
trunk/config.status

*.DS*
*output.fits

Python/*.pyc

trunk/src/alg_lib/*.o
trunk/src/alg_lib/Makefile
*.ipynb_checkpoints*

trunk/src/alg_lib/libalglib.a

*Makefile
*.fits

*.cpp

Examples/spire/F_spire_model.fits

*.fits

*.fits

Examples/spire/F_mips_model.fits

*.fits

*.fits

*.fits

*.cpp

Examples/SPIRE/joint_contours_old.py

*.py

*.fits

Examples/spire/I_mips_model.fits

*.fits

Examples/spire/I_mips_model.fits

Examples/spire/I_spire_model.fits

Examples/spire/F_spire_model.fits

Examples/spire/I_mips_model.fits

Examples/spire/F_mips_model.fits

Examples/spire/I-C3_model.fits

Examples/spire/I-Ctest_model.fits

Examples/spire/Itest_model.fits

Examples/spire/I3_model.fits

trunk/python/filters.pyc
