trunk/src/*.o
trunk/src/Makefile
trunk/src/fitter
trunk/src/.deps
trunk/Makefile
trunk/obs/Makefile
trunk/filters/Makefile
trunk/idl/Makefile
trunk/templates/Makefile
trunk/lib_aux/Makefile

trunk/config.log
trunk/config.status

*.DS*