trunk/src/*.o
trunk/src/Makefile
trunk/src/fitter
trunk/src/.deps
trunk/src/alg_lib/.deps
trunk/Makefile
trunk/obs/Makefile
trunk/filters/Makefile
trunk/idl/Makefile
trunk/templates/Makefile
trunk/lib_aux/Makefile
trunk/src/SurveySim

trunk/config.log
trunk/config.status

*.DS*
*output.fits

Python/*.pyc

trunk/src/alg_lib/*.o
trunk/src/alg_lib/Makefile
*.ipynb_checkpoints*

trunk/src/alg_lib/libalglib.a